process {
    memory = 2.GB
    cpus = 1
    time = 2.h
    executor = 'local'
}

profiles {
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gadi {
        singularity.enabled    = true
        process {
            executor = 'pbspro'
            beforeScript = "module load singularity"
            queue = 'work'
        }
    }

    aws { 
        docker.enabled         = true
    }

    setonix {
        singularity.enabled    = true
        process {
            executor = 'slurm'
            beforeScript = "module load singularity/3.11.4; export SINGULARITY_CACHEDIR=\"/scratch/pawsey0842/$USER/singularity_cache\""
            queue = 'work'
        }
    }
}
